* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

h1 {
    color: #E05297;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p {
    color: #EA86B6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #E05297;
    font-weight: 600;
    opacity: 0.8;
}


main {

    font-family: "Poppins", sans-serif;

    /* should take up the full space of the monitor */
    min-height: 100vh;

    /* create a linear gradient from bottom-left to top-right */
    background: linear-gradient(to right top, #EA86B6, #FCEEF5);

    /* makes the HTML elements (=content) horizontal alignment*/
    display: flex;

    /* aligns the white box in the centre of the page */
    align-items: center;

    justify-content: center;
}

/* The glass card */
.glass {
    background: white;

    min-height: 80vh;
    width: 60%;

    /* create a linear gradient from top-left to bottom-right | the rgba = colour and opacity */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    /* makes the rounded edges */
    border-radius: 2rem;

    /* moving the glass rectangle forward on the z axis; default z axis is 1 */
    z-index: 2;

    /* add the blur effect */
    backdrop-filter: blur(2rem);

    display: flex;
}

/* The two circles in the background */
.circle1, .circle2 {
    background: white;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    
    height: 20rem;
    width: 20rem;

    position: absolute;

    /* creates the circle ; the height and width must be the same for this to work */
    border-radius: 50%;

    box-shadow: 8px 8px 10px rgba(122, 122, 122, 0.3);;
    
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

/* the left colum with my image links */
.dashboard {
    flex: 1;

    /* algin the contents of dashboard horizontally */
    display: flex;

    /* then change the direction back to vertical alignment */
    flex-direction: column;

    /* align the contents based on centre alignment */
    align-items: center;

    /* space the contens evenly */
    justify-content: space-evenly;

    /* align the text at centre */
    text-align: center;

    /* create a linear gradient from top-left to bottom-right | the rgba = colour and opacity */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    border-radius: 2rem;
}

.link {

    /* add spacing between link items */
    margin: 0.5rem 0rem;
    padding: 0.5rem 2rem;
 
}


/* the "let's get in contact" button */
.contact {
    /* create a linear gradient from bottom-left to top-right */
    background: linear-gradient(to right top, #EA86B6, #FCEEF5);

    border-radius: 2rem;

    box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);

    /* changes the text colour */
    color: white;

    padding: 1rem;

    position: relative;
}

.contact img {

    width: 30%;

    /* moves the image based on .contact's size; b/c .contact's position is now relative */
    position: absolute;

    top: 20%;
    right: 10%;
}

.contact h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

/* GAMES SECTION */

.status {
    margin-bottom: 1rem;
}

/* status input means the search bar */
.status input {

    /* create a linear gradient from top-left to bottom-right | the rgba = colour and opacity */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

    /* removes search bar boarder */
    border: none;

    width: 50%;

    padding: 0.5rem;

    border-radius: 1rem;
}

.games {
    flex: 2;
    margin: 2rem;

    display: flex;

    flex-direction: column;
    
    justify-content: space-evenly;
}

.single-card img {
    width: 15%;
}

.single-card {
    display: flex;

    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));

    border-radius: 1rem;

    margin: 1rem 0rem;

    padding: 1rem;

    /* apply one or more shadows to an element; horizontal shadow | vertical shadow | amt of blur */
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);

    /* add space between all of the elements */
    justify-content: space-between;
}

/* the progress bar */
.progress {
    /* create a linear gradient from bottom-left to top-right */
    background: linear-gradient(to right top, #EA86B6, #FCEEF5);

    width: 300px;

    height: 25%;

    border-radius: 1rem;

    position: relative;

    /* the grey bar is hidden if it goes outside of the progress bar boundary*/
    overflow: hidden;
}

/* pretty much created a div */
.progress::after {
    content: "";

    width: 100%;

    height: 100%;

    background: rgba(236, 236, 236, 0.8);

    position: absolute;
}

/* how much to fill up the progress bars */
#p1.progress::after {
    left: 50%;
}

#p2.progress::after {
    left: 42%;
}

#p3.progress::after {
    left: 0%;
}

.card-info {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.percentage {
    font-weight: bold;

    /* create a linear gradient from bottom-left to top-right */
    background: #E05297;

    /* apply the linar gradient to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
